/*Article List Styles*/
.main-container {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.article-container {
    padding:2%;
    background-color:#eeeeee;
    margin:2%;
    width:500px;
    letter-spacing:.6px;
}
.article-container h2,h3 {
    text-align:center;
}
.article-container h3 {
    padding:3%;
}
.article-container h3 a,p a,input[type='submit'] {
    color:#648196;
    text-decoration:none;
}
.article-container h3 a:hover,p a:hover,input[type='submit']:hover {
    color:#3c4d5a;
    cursor:pointer;
}
.article-container p {
    width:500px;
    margin:2% auto;
    border-bottom:1px solid #c8c8c8;
}
.article-container p:first-of-type {
    padding-bottom:1%;
    margin-bottom:3%;
}
.article-container form {
    width:500px;
    margin:2% auto;
}
.article-container input,select {
    border:1px solid #dfdfdf;
    border-radius:5px;
    font-size:.9em;
}
.article-container .searchSort {
    text-transform:uppercase;
    font-weight:bold;
}
.article-container .sortBy {
    font-style:italic;
    padding-left:1%;
    font-size:1.1em;
}