/*Article Save Success Styles*/
#container {
    padding:2%;
    background-color:#eeeeee;
    width:70%;
    margin:0 auto;
    min-width:375px;
    letter-spacing:.6px;
}
h2,h3 {
    text-align:center;
}
h3 {
    padding:3%;
}
h3 a,.editLink,.viewLink {
    color:#648196;
    text-decoration:none;
}
h3 a:hover,.editLink:hover,.viewLink:hover {
    color:#3c4d5a;
}
.listIcon {
    font-size:1.4em;
}