/*Article Edit Styles*/
form {
    padding:2%;
    background-color:#eeeeee;
    width:70%;
    margin:0 auto;
    min-width:375px;
}
h2 {
    text-align:center;
}
p {
    width:350px;
    margin:0 auto;
}
#errors {
    text-align:center;
    color:#D06666;
}
input[type="text"], textarea {
    display:block;
    width:100%;
    border:1px solid #dfdfdf;
    border-radius:5px;
    padding:2%;
}
textarea {
    height:300px;
}
input::placeholder {
    font-style:italic;
    color:#d6d6d6;
}
#formBtns{
    text-align:center;
}
input[type="submit"]{
    font-size:1.3em;
    margin:1%;
    padding:2%;
}