/*Article View Styles*/
 #container {
    padding:2% 2% 4% 2%;
    background-color:#eeeeee;
    width:70%;
    margin:0 auto;
    min-width:500px;
    letter-spacing:.6px;
}
h2 {
    text-decoration:underline;
    text-align:center;
}
h3 {
    padding:1%;
    text-align:center;
    border-bottom:1px solid #c8c8c8;
}
h3:first-of-type {
    border:none;
}
p {
    width:500px;
    margin:4% auto;
}
h3 a{
    color:#648196;
    text-decoration:none;
}
h3 a:hover{
    color:#3c4d5a;
}
.listIcon {
    font-size:1.4em;
}