/*CMS Data View Styles*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
body {
    background-color:#eeeeee;
    color:#323232;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing:.03em;
}
.container {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.container .main-content-container {
    background-color:#eeeeee;
    margin:2%;
    width:600px;
    text-align:center;
}
.main-content-container .banner img{
    width:100%;
    height:auto;
    border-radius: 5px;
}
.main-content-container h1 {

}
.main-content-container .content {
    margin:2%;
    text-align:left;
}
.container .widget-container {
    margin:2%;
}