/*Newsarticles Widget Styles*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
.article-widget-container{
    width:275px;
    padding: 1.3em 1em;
    margin-bottom:3em;
    border-radius: 5px;
    background:linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.6)), url('../weather_images/greyBG.jpg') no-repeat;
    background-size:cover;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.2);
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing:.03em;
    color:#323232;
    align-self:flex-start;
}

.article-widget-container h2 {
   text-align:center;
   text-transform:uppercase;
}
.article-widget-container ul {
    margin:1em;
    font-size:1em;
    -webkit-padding-start: 0px;
}
.article-widget-container li{
    list-style-type:none;
    border-left:2px solid black;
    padding:5px;
    margin:5px;
}
.article-widget-container a{
    color:#323232;
    text-decoration:none;
}
.article-widget-container a:hover,.article-widget-container a:active{
    color:#ffffff;
}