/*User View Styles*/
 #container {
    padding:2% 2% 4% 2%;
    background-color:#eeeeee;
    width:60%;
    margin:0 auto;
    min-width:400px;
    letter-spacing:.6px;
}
h2 {
    text-decoration:underline;
    text-align:center;
    text-transform:uppercase;
}
h3 {
    padding:1%;
    text-align:center;
}
h3 a{
    color:#648196;
    text-decoration:none;
}
h2 a:hover{
    color:#3c4d5a;
}
.listIcon {
    font-size:1.4em;
}
p {
    text-align:center;
}
img {
    width:150px;
    border-radius: 50%;
}