/*User Edit Styles*/
 form {
    padding:2%;
    background-color:#eeeeee;
    width:70%;
    margin:0 auto;
    min-width:375px;
}
h2 {
    text-align:center;
}
p {
    width:350px;
    margin:0 auto;
}
p:last-of-type {
    margin-top:18px;
}
#errors {
    text-align:center;
    color:#D06666;
}
input[type="text"],input[type="password"], select, option {
    display:block;
    width:350px;
    border:1px solid #dfdfdf;
    border-radius:5px;
    padding-left:5px;
    height:30px;
}
input::placeholder {
    font-style:italic;
    color:#d6d6d6;
}
input[type="file"]{
    vertical-align:top;
}
#formBtns{
    text-align:center;
    margin-top:2%;
}
input[type="submit"]{
    font-size:1.3em;
    margin:1%;
    padding:2%;
}
.note {
    font-size:12px;
}
img {
    border-radius: 50%;
    width:50px;
}