/*User List Styles*/
 #container {
    padding:2%;
    background-color:#eeeeee;
    width:70%;
    margin:0 auto;
    min-width:500px;
    letter-spacing:.6px;
}
h2 {
    text-transform:uppercase;
    text-decoration:underline;
}
h2,h3 {
    text-align:center;
}
h3 {
    padding:3%;
}
h3 a,p a,input[type='submit'] {
    color:#648196;
    text-decoration:none;
}
h3 a:hover,p a:hover,input[type='submit']:hover {
    color:#3c4d5a;
    cursor:pointer;
}
p {
    width:500px;
    margin:2% auto;
    border-bottom:1px solid #c8c8c8;
}
p:first-of-type {
    padding-bottom:1%;
    margin-bottom:3%;
}
form {
    width:500px;
    margin:2% auto;
}
input,select {
    border:1px solid #dfdfdf;
    border-radius:5px;
    font-size:.9em;
}
.searchSort {
    text-transform:uppercase;
    font-weight:bold;
}
.sortBy {
    font-style:italic;
    padding-left:1%;
    font-size:1.1em;
}