/*Weather Widget Styles*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
.weather-widget-container{
    width:275px;
    padding: 1.3em 1em;
    margin-bottom:3em;
    border-radius: 5px;
    background:linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.6)), url('../weather_images/greyBG.jpg') no-repeat;
    background-size:cover;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.2);
    text-align:center;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing:.03em;
    color:#323232;
    align-self:flex-start;
}
.weather-widget-container h2 {
    margin:0;
}
.weather-widget-container h2 img {
    width:100px;
    vertical-align:middle;
}
.weather-widget-container h2 .location {
    text-transform:uppercase;
}
.weather-widget-container h3 {
    font-size:2.3em;
    margin:.2em 0 1.1em 0;
}
.weather-widget-container h3 .current-temp{
    font-size:.5em;
}
.weather-widget-container p {
    font-size:1em;
}
.weather-widget-container p .other-info {
    font-weight:bold;
    font-size:1.1em;
}